/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 6, 2023, 9:24:19 PM
    Author     : Silvia_Ignatius
*/
h1, h2, h3, h4, h5, h6 {
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
}
/*---------------------------Sign Up Page -------------------------*/
:root {
    --primary-color: #235391;
    --secondary-color: #55c360;
    --background-color: #f4f9fd;
    --text-color: #010101;
    --icon-color: #1d7a85;
    --icon-hover-color: #0f6c74;
    --container-bg-color: #ffffff;
    --info-text-color: #bcbcbc;
}

body{
    background-color: var(--background-color);
    padding: 50px 0;

    .msg-container{
        background-color: var(--background-color);
        border-radius: 10px;
        padding: 20px;

        .btn {
            background-color: var(--secondary-color);
            border: none;
            color: var(--container-bg-color);
            font-size: 18px;
            transition: background-color 0.3s ease-in-out;
        }
        .btn:hover {
            background-color: var(--icon-hover-color);
        }
        .h5{
            color: var(--primary-color);
            font-weight: bold;
        }
        .tokenMsg{
            font-size: 18px;
            color: #55c360;
        }

    }

}

@media screen and (max-width: 768px) {
    .msg-container .btn-primary {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    max-width: 100%;
    margin: 10px;
}

@media (max-width: 576px) {
    padding: 10px;
}